rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // 送られてきたリクエストのデータ
    function requestData() {
      return request.resource.data;
    }

    // ログイン済かどうか
    function isSignedIn() {
      return request.auth.uid != null;
    }

    // ユーザーIDが一致するかどうか
    function isUser(userId) {
      return request.auth.uid == userId;
    }

    // User のスキーマバリデーション
    function isValidUserSchema(requestData) {
      return requestData.size() == 3
        && 'createdAt' in requestData && requestData.createdAt is timestamp
        && 'email' in requestData && requestData.email is string
        && 'updatedAt' in requestData && requestData.updatedAt is timestamp;
    }

    // Book のスキーマバリデーション
    function isValidBookSchema(requestData) {
      return requestData.size() == 14
        && 'amazonUrl' in requestData && requestData.amazonUrl is string
        && 'author' in requestData && (requestData.author is string || requestData.author == null)
        && 'coverImageUrl' in requestData && (requestData.coverImageUrl is string || requestData.coverImageUrl == null)
        && 'createdAt' in requestData && requestData.createdAt is timestamp
        && 'foundBy' in requestData && requestData.foundBy is string
        && 'groups' in requestData && requestData.groups is list
        && 'isRead' in requestData && requestData.isRead is bool
        && 'location' in requestData && requestData.location is string
        && 'note' in requestData && requestData.note is string
        && 'pages' in requestData && (requestData.pages is number || requestData.pages == null)
        && 'purchasedBy' in requestData && requestData.purchasedBy is list
        && 'tags' in requestData && requestData.tags is list
        && 'title' in requestData && (requestData.title is string || requestData.title == null)
        && 'updatedAt' in requestData && requestData.updatedAt is timestamp;
    }

    // Group のスキーマバリデーション
    function isValidGroupSchema(requestData) {
      return requestData.size() == 4
        && 'count' in requestData && requestData.count is number
        && 'createdAt' in requestData && requestData.createdAt is timestamp
        && 'label' in requestData && requestData.label is string
        && 'updatedAt' in requestData && requestData.updatedAt is timestamp;
    }

    match /users/{userId} {
      allow read: if isSignedIn() && isUser(userId);
      allow create: if isSignedIn() && isUser(userId) && isValidUserSchema(requestData());
      allow update: if isSignedIn() && isUser(userId) && isValidUserSchema(requestData());

      match /books/{bookId} {
        allow read: if isSignedIn() && isUser(userId);
        allow create: if isSignedIn() && isUser(userId) && isValidBookSchema(requestData());
        allow update: if isSignedIn() && isUser(userId) && isValidBookSchema(requestData());
        allow delete: if isSignedIn() && isUser(userId);
      }

      match /groups/{groupId} {
        allow read: if isSignedIn() && isUser(userId);
        allow create: if isSignedIn() && isUser(userId) && isValidGroupSchema(requestData());
        allow update: if isSignedIn() && isUser(userId) && isValidGroupSchema(requestData());
        allow delete: if isSignedIn() && isUser(userId);
      }

      match /tags/{tagId} {
        allow read: if isSignedIn() && isUser(userId);
      }
    }
  }
}
